<p>signup works!</p>

   
  
  
    <div class="container">
      <div class="row">
        <div class="col-md-5 image1">
          <img class="image-fluit" src="../assets/images/signup.jpg" width="350px" height="450px">
         <!-- <h1>hello</h1> -->
         </div>
         <div class="col-md-6 containbar ">
           <h4>WELCOME TO <span>BOOK MY MEAL !</span></h4>
                    <h5><u>SignUp</u></h5>
                    
                    <div>
                      <label>Username</label><br>
                      <input type="text" name="username"><br>
                       <label>Mobile</label><br>
                      <input type="text" name="mobile"><br>
                      <label>Email</label><br>
                      <input type="email" ame="email"><br>

                      <label>Password</label><br>
                      <input type="password" name="password">
                     
                      <button type="submit" class="btn btn-danger" >SignUp</button>
                    </div>
                  
         </div>
      </div>
    </div>
    
  
  