<!-- <p>more-cart works!</p> -->
<div class="container">
    <div class="cat  justify-content-center">
        <button class="btn justify-content-center mt-5">Today-Special</button>
    </div>
    <div class="row mt-4 cart image-fluid">
        <div class="col-md-4 special-card">
            <div class="card" style="width:350px">
                <div>
                    <img class="card-img-top" src="../../assets/images/khandvi.jpg" alt="Card image"
                        style="width:90%  ">

                </div>
                <div class="card-body">
                    <h4 class="card-title">Khandvi</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <h4><img src="../../assets/images/rs.png"width="30px" height="30px">150</h4>
                    <img src="../../assets/images/cart.png" width="30px" height="30px">
                    <img src="../../assets/images/fav.png" width="30px" height="30px">
                    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->



                </div>
            </div>
        </div>
        <div class="col-md-4 special-card">
            <div class="card" style="width:350px">
                <div>
                    <img class="card-img-top" src="../../assets/images/manchuriun.jpg" alt="Card image"
                        style="width:90%">

                </div>
                <div class="card-body">
                    <h4 class="card-title">manchuriun</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
                    <h4><img src="../../assets/images/rs.png"width="30px" height="30px">150</h4>
                    <img src="../../assets/images/cart.png" width="30px" height="30px">
                    <img src="../../assets/images/fav.png" width="30px" height="30px">


                </div>
            </div>
        </div>
        <div class="col-md-4 special-card">
            <div class="card" style="width:350px">
                <div>
                    <img class="card-img-top" src="../../assets/images/pizza2.jpg" alt="Card image"
                        style="width:90%">

                </div>
                <div class="card-body">
                    <h4 class="card-title">Pizza</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
                    <h4><img src="../../assets/images/rs.png"width="30px" height="30px">150</h4>
                    <img src="../../assets/images/cart.png" width="30px" height="30px">
                    <img src="../../assets/images/fav.png" width="30px" height="30px">


                </div>
            </div>
        </div>
 
    </div>
    <div class="row mt-4 cart image-fluid">
        <div class="col-md-4 special-card">
            <div class="card" style="width:350px">
                <div>
                    <img class="card-img-top" src="../../assets/images/panipuri.jpg" alt="Card image"
                        style="width:90%  ">

                </div>
                <div class="card-body">
                    <h4 class="card-title">Panipuri</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <h4><img src="../../assets/images/rs.png"width="30px" height="30px">150</h4>
                    <img src="../../assets/images/cart.png" width="30px" height="30px">
                    <img src="../../assets/images/fav.png" width="30px" height="30px">
                    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->



                </div>
            </div>
        </div>
        <div class="col-md-4 special-card">
            <div class="card" style="width:350px">
                <div>
                    <img class="card-img-top" src="../../assets/images/pullao.jpg" alt="Card image"
                        style="width:90%">

                </div>
                <div class="card-body">
                    <h4 class="card-title">pullao</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
                    <h4><img src="../../assets/images/rs.png"width="30px" height="30px">150</h4>
                    <img src="../../assets/images/cart.png" width="30px" height="30px">
                    <img src="../../assets/images/fav.png" width="30px" height="30px">


                </div>
            </div>
        </div>
        <div class="col-md-4 special-card">
            <div class="card" style="width:350px">
                <div>
                    <img class="card-img-top" src="../../assets/images/sahi paneer.jpg" alt="Card image"
                        style="width:90%">

                </div>
                <div class="card-body">
                    <h4 class="card-title">Sahi Paneer</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
                    <h4><img src="../../assets/images/rs.png"width="30px" height="30px">150</h4>
                    <img src="../../assets/images/cart.png" width="30px" height="30px">
                    <img src="../../assets/images/fav.png" width="30px" height="30px">


                </div>
            </div>
        </div>
 
    </div>
    <div class="row mt-4 cart image-fluid">
        <div class="col-md-4 special-card">
            <div class="card" style="width:350px">
                <div>
                    <img class="card-img-top" src="../../assets/images/methimatermali.jpg" alt="Card image"
                        style="width:90%  ">

                </div>
                <div class="card-body">
                    <h4 class="card-title">Methimatermali</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <h4><img src="../../assets/images/rs.png"width="30px" height="30px">150</h4>
                    <img src="../../assets/images/cart.png" width="30px" height="30px">
                    <img src="../../assets/images/fav.png" width="30px" height="30px">
                    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->



                </div>
            </div>
        </div>
        <div class="col-md-4 special-card">
            <div class="card" style="width:350px">
                <div>
                    <img class="card-img-top" src="../../assets/images/momos.jpg" alt="Card image"
                        style="width:90%">

                </div>
                <div class="card-body">
                    <h4 class="card-title">Momos</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
                    <h4><img src="../../assets/images/rs.png"width="30px" height="30px">150</h4>
                    <img src="../../assets/images/cart.png" width="30px" height="30px">
                    <img src="../../assets/images/fav.png" width="30px" height="30px">


                </div>
            </div>
        </div>
        <div class="col-md-4 special-card">
            <div class="card" style="width:350px">
                <div>
                    <img class="card-img-top" src="../../assets/images/pawbhaji.jpg" alt="Card image"
                        style="width:90%">

                </div>
                <div class="card-body">
                    <h4 class="card-title">Pawbhaji</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
                    <h4><img src="../../assets/images/rs.png"width="30px" height="30px">150</h4>
                    <img src="../../assets/images/cart.png" width="30px" height="30px">
                    <img src="../../assets/images/fav.png" width="30px" height="30px">


                </div>
            </div>
        </div>
 
    </div>
    <div class="cat  justify-content-center">
        <button class="button justify-content-center mt-5">See More</button>
    </div>



</div>
